body {
    background: rgb(236,235,230);
    font-family:"Droid Sans Fallback",sans-serif }
h1 {
    font-size: 1.6em;
    padding-right:1em;
    background:rgba(230,194,19,0.3);
    text-align:right }
h2 { font-size: 1.2em }
img { max-width:100% } 
p  {
    line-height:1.8em; margin: 1em 0
}
* {margin: 0; padding: 0}
article {border-bottom: 2px solid rgb(230,194,19); margin: 2em 0;padding: 0 1em}
article p, .profile{background:rgba(255,255,255,0.2); padding: 0 1em}
article .time{color:#c3c3c3;font-size:0.7em; float:right}
ul {list-style-type:circle}
.link-top {float:right;padding-right:1.6em}
.icon {border-radius:50%; width: 60px;height:60px;}
.profile {margin: 1em 0; padding: 1em; width:max-content; overflow:hidden; max-width:100%;box-sizing:border-box}
ul.blog-list {margin: 1em 2em}
.body-compact {width: max-content; max-width:100%; box-sizing:border-box; margin: 0 auto}
.opaque {opacity: 0.1}
h2>a {text-decoration: none; color:#7ea0ce}
h2>a:hover {text-decoration:underline;}
